{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>

{{ page.content | safe }}

<h2>Oracle card designs</h2>
<span class="gallery-date">01.09.2024</span>
<p>I've become quite interested in Tarot and Oracle card designs ever since I first stumbled upon Yoshi Yoshitanis <em>Tarot of the Divine</em>, which replaces the classic tarot designs with illustrations of deities, folklore and fairy tales from all over the world.</p>
<p>After designing that Signalis postcard and getting a glimpse into the world of vector graphic design I played with the thought of designing some simple, stylized Oracle cards myself.</p>
<p>During the design process some recent video game ideas of mine started mixing with the card ideas and I'm currently working out how to combine the two into a whole!</p>
<div class="gallery">
  <a href="https://cdnb.artstation.com/p/assets/images/images/079/542/391/large/fishhex-00-void.jpg" target="_blank">
    <img src="https://cdnb.artstation.com/p/assets/images/images/079/542/391/large/fishhex-00-void.jpg">
  </a>
  <a href="https://cdnb.artstation.com/p/assets/images/images/079/542/393/large/fishhex-01-vessel.jpg" target="_blank">
    <img src="https://cdnb.artstation.com/p/assets/images/images/079/542/393/large/fishhex-01-vessel.jpg">
  </a>
  <a href="https://cdnb.artstation.com/p/assets/images/images/079/542/397/large/fishhex-02-watcher.jpg" target="_blank">
    <img src="https://cdnb.artstation.com/p/assets/images/images/079/542/397/large/fishhex-02-watcher.jpg">
  </a>
  <a href="https://cdnb.artstation.com/p/assets/images/images/079/542/399/large/fishhex-03-dreamer.jpg" target="_blank">
    <img src="https://cdnb.artstation.com/p/assets/images/images/079/542/399/large/fishhex-03-dreamer.jpg">
  </a>
  <a href="https://cdnb.artstation.com/p/assets/images/images/079/542/389/large/fishhex-04-light.jpg" target="_blank">
    <img src="https://cdnb.artstation.com/p/assets/images/images/079/542/389/large/fishhex-04-light.jpg">
  </a>
</div>

<h2>Signalis postcard design</h2>
<span class="gallery-date">07.08.2024</span>
<p>Inspired by a game-themed postcard exchange at the Insert Credit forums I made this Signalis themed postcard design in Affinity Designer and had it printed.</p>
<div class="gallery">
  <a href="https://cdna.artstation.com/p/assets/images/images/078/684/794/large/fishhex-eye-center-vineta.jpg" target="_blank">
    <img src="https://cdna.artstation.com/p/assets/images/images/078/684/794/large/fishhex-eye-center-vineta.jpg">
  </a>
  <a href="https://cdna.artstation.com/p/assets/images/images/079/452/032/large/fishhex-img-20240829-174519.jpg" target="_blank">
    <img src="https://cdna.artstation.com/p/assets/images/images/079/452/032/large/fishhex-img-20240829-174519.jpg">
  </a>
</div>


<h2>My first Blender animation</h2>
<span class="gallery-date">04.08.2024</span>
<p>I always wanted to try out blender and now I finally did. This gameboy animation was created over the course of one afternoon and is an hommage to my first ever gaming console, lovingly called "the brick".</p>
<video autoplay="" controlslist="nodownload" id="video_html5_api" loop="" muted="muted" playsinline="playsinline" poster="https://cdn.artstation.com/p/thumbnails/002/052/227/thumb.jpg" tabindex="-1" preload="auto">
  <source src="https://cdn.artstation.com/p/video_sources/002/112/976/0001-0120.mp4" type="video/mp4">
</video>

{% endblock content %}
