{% extends "base.html" %}

{% block content %}
<h1 class="title">
  FishHead's Site
</h1>

<p>
    Moin! This website is my attempt at recapturing the spirit of the internet that initially made me fall in love with computers and technology: No platforms, no marketplaces, no engagement and no algorithm. Just individual people carving out their own little spaces in the world wide web.
</p>
<p>
    I intend this place to be a little window through which I can share ideas and creative output on my own terms, displayed in a respectful and distraction free environment.
</p>
<p>
    Enjoy!
</p>
{% endblock content %}
